recursive-include tickeys/Resources/data *
recursive-include tickeys/Resources/fonts *
include tickeys/requirements.txt
include tickeys/tickeys
include tickeys/tickeysui.kv
include tickeys/tickeys.png
include README.md
include LICENSE
include AUTHOURS
include Changelog